
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


//-----------------------------------Variables
$blue: #2962ff;
$dark-blue: #0039cb;
$light-blue: #768fff;
$grey: #424242;
$light-grey: #616161;
$white: #fff;
$black: #000;


* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Pattaya', sans-serif;
  //font-family: 'Berkshire Swash', cursive;
}
p, span, a, li{
  font-family: 'Arsenal', sans-serif;
}
body{

}


/*---------------------------------header style----------------------------------------*/
.header {
  background-image: url("../img/background_img_1.jpg");
  background-repeat: no-repeat;
  &__menu {
    ul {
      list-style:none;
    }
  }
  &__logo {
    img {
      width:100%;
    }
  }
}
/*--------------------------------------main style--------------------------------------*/
main {

}

.agencies {
  display: grid;
  &__info {
    background-image: url("../img/image_back_1.jpg");
    background-repeat: no-repeat;
  }
  &__img {
    img{ width: 100%;}

  }
}

.menus {
  display: grid;
  padding: 100px 0;
  text-align: center;
}

/*-----------------------------------------footer style----------------------------------*/
footer {
  min-height: 300px;
  background-color: $black;
  padding: 50px 0;
  color: $white;
}
.footer {
  &__wrapper {
    display: grid;
    div {
      //border: 1px solid $white;
    }
  }
}

/*----------------------------------------MEDIA SCREEN mobile----------------------------*/
@media (max-width: 599px) {
  header, main, footer {
    padding: 0 10px;
  }
  #myLinks {
    //display: none;
  }
  .header {
    background-size: cover;
    min-height: 350px;
    &__wrapper{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat (2,1fr);
    }
    &__logo {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    &__menu {
      grid-column: 1/13;
      grid-row: 2/3;
      ul {
        padding: 0px;
      }
      li {
        padding: 5px;
      }
      li:hover {
        background-color: $light-grey;
        opacity: 0.1;
      }
      a {
        display: block;
      }
      li a:hover {
        color: #fff;
        text-decoration: none;
      }
      i {
        padding-right: 20px;
      }
    }
    &__social {
      grid-column: 5/10;
      border: 1px solid #000;
      grid-row: 1/2;
      padding: 17px;
    }
    &__title {
      grid-column: 2/12;
      border: 1px solid #000;

    }
    &__icon {
      position: absolute;
      right:0px;
      top:0px;
      border: 1px solid #000;
      padding: 5px 20px;
      opacity: 0.8;
      color: $blue;
      font-size: 46px;
    }
  }
//-------------------------------------------AGENCIES--------
  .agencies {
    margin-top: -70px;
    display: grid;
    &__img {
      display: none;
    }
    &__info {
      background-image: url(../img/image_1.jpg);
      background-size: cover;
      width: 100%;
      padding: 20px;
      color: $white;
      text-align: center;
      margin-bottom: 10px;
      min-height: 250px;
    }
    &__info2 {
      background-image: url(../img/image_2.jpg);
    }
  }
  .menus {
    &__part {
      width: 100%;
    }
    img {
      width: 70%;
    }

  }

}

/*-----------------------------------media screen tablet------------------------*/
@media (min-width:600px) and (max-width: 920px) {

}

/*----------------------------------media screen pc normal-------------------------*/
@media (min-width:921px) {

  .center {
    margin:0px auto;
    width: 1200px;
  }
  .header {
    min-height: 940px;
    &__wrapper{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }
    &__logo {
      grid-column: 1/3;
    }
    &__menu {
      grid-column: 3/11;
      ul {
        padding: 50px 0;
        text-align: center;
      }
      li{
        display: inline-block;
        padding: 20px 10px;
      }
      a {
        color: $white;
        margin: 5px 5px;
        text-decoration: none;
        font-size: 20px
      }
      a:hover {
        color: $blue;
        border-bottom: 1px solid $blue;
      }
      i {
        display: none;
      }
    }
    &__social {
      grid-column: 11/13;
      padding: 60px 0 0 90px;
      i {
        color: $white;
      }
      i:hover {
        color: $blue;
      }
      .fb {
        margin-right: 20px;
      }
    }
    &__title {
      grid-column: 4/10;
      grid-row: 4/6;
      text-align: center;
      color: $white;
      text-shadow: 1px 1px 20px black;
      p {
        text-decoration: underline;
        font-size: 24px;
      }
      h2 {
        font-size: 58px;
      }
    }
    &__icon {
      display: none;
    }
  }
//---------------------------------------AGENCIES------------
  .agencies {
    margin-top: -120px;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 20px $black;
    &-background {
      background-color: $white;
      opacity: 0.8;
      height: 100%;
      padding: 70px;
    }
    &__info:hover {
      text-decoration: none;
    }
    &__info {
      text-align: center;

      h3 {
        color: $grey;
        font-size: 40px;
      }
      p {
        color: $light-grey;
        font-size: 24px;
      }
    }
    &__img {

    }
  }
//-------------------------------------MENUS----------------
  .menus {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    div {
      border: 1px solid #bdbdbd;
    }
    h3 {
      margin: 40px 0 20px 0;
      color: $grey;
    }
    p {
      margin: 0 20px 40px 20px;
      color: $light-grey;
      font-weight: 600;
    }
    img {
      width: 100%;
    }
  }
//---------------------------------------CONTACT--------------
  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {

    }
    &__map {
      iframe {
        width:100%;
      }
    }
    &__info {
      background-image: url("../img/info_img.jpg");
      background-size: cover;
      div {
        background-color: $black;

      }
    }
  }
//----------------------------------------FOOTER-------------
  .footer {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
//----------------------------------------page-menu---------------------------------
  .page-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin: 40px 0;
    &__div {
      border: 1px solid $grey;
      padding: 10px;
    }
  }
}
/*-----------------------------------media screen pc larg--------------------------*/
@media (min-width: 1201px) {

}
